# Normalize EOL=LF
* text=auto

# Ignore files when export
tests export-ignore
.DS_Store export-ignore
Thumbs.db export-ignore
*.json export-ignore
*.md export-ignore
*.txt export-ignore
.gitattributes export-ignore
